/*@import url(fonts/clear-sans.css);*/
html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #776e65;
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti;
  font-size: 18px; }
.heading:after {
  content: "";
  display: block;
  clear: both; }
h1.title:after {
  clear: both;
}
.index-link a:hover, .lang-choose a:hover {
  color: #BDAFA1;
}
.lang-choose {
  float: right;
  text-align: right;
  width:55%;
}
.heading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 97px;
  background: url(../custom/image/head.png) no-repeat;
  background-size: 100%;
}
.heading_logo{
  position: absolute;
  width: 100%;
  top: 11%;
}
#open{
  position: relative;
  top: -45px;
  width: 13%;
  left: 4%;
  background-color: #000;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
.heading .heading_text{
  text-align: center;
  line-height: 1.2rem;
  color: #000;
}
/*shengchengtouxiang_two*/
.head_portrait{
  margin: auto;
  width: 227px;
  margin-top: 2.8rem;
  height: 227px;
  border: 1px solid #717171;
  border-radius: 8px;
  background-color: #1a1a1a;
}
.head_portrait_box{
  margin: auto;
  width: 212px;
  height: 212px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 7px;
}
.head_portrait_box .img_box img{
  width: 157px;
  margin: auto;
  display: inherit;
  padding-top: 17px;
}
.Generated_avatar_text{
  width: 90%;
  margin: auto;
  letter-spacing: 6px;
  margin-top: 14%;
  margin-bottom: 13%;
  color: #000;
}
.Generated_avatar_footer{
  width: 90%;
  height: 86px;
  margin: auto;
  border-radius: 11px;
  border: 1px solid #898989;
}
.Generated_avatar_footer .Generated_footer_one{
  float: left;
  margin-left: 33px;
  margin-top: 17px;
}
.Generated_avatar_footer .Generated_footer_one img{
  width: 69px;
  height: 69px;
  margin-top: -8px;
}
.Generated_footer_one p{
  color: #3b3b3b;
}
.Generated_footer_one p:last-child{
  font-weight: bold;
}
/*shengchengtouxiang_two_end*/
/*exclusive_Photo.html_start*/
.exclusive_wrap{
  width: 100%;
}
.exclusive_Photo{
  width: 67%;
  height: 336px;
  border: 2px solid #1b1b1b;
  border-radius: 3px;
  margin: auto;
  margin-top: 47px;
}
.exclusive_header{
  width: 100%;
  height: 43px;
  border: 1px solid #656565;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-top: -2px;
  background: url(../custom/image/footer_bg.png) repeat-x;
  background-size: 100% 100%;
}
.exclusive_header h2{
  text-align: center;
  color: #fff;
  font-size: 18px;
  line-height: 11px;
}
#content1 .inner{
  background: url(../custom/image/exclusive_Photo.c.png) repeat-x;
  background-size: 100% auto;
  margin-top: -12px;
  position: relative;
  width: 100%;
  left: 0;
  overflow: hidden;
}
#content2 .inner img{
  width: 176px;
  margin: auto;
  display: inherit;
  padding-top: 32px;
}
.innere{
  width: 56%;
  height: 108px;
  margin: auto;
  margin-top: 50px;
}
.innere p:last-child{
  margin-bottom: 0;
}
.innere p{
  width: 67%;
  height: 41px;
  border-radius: 29px;
  z-index: 99;
  line-height: 41px;
  margin-bottom: 26px;
  background: url(../custom/image/footer_bg.png) repeat-x;
  background-size: 100% 100%;
}
.innere p span{
  width: 30%;
  height: 40px;
  line-height: 40px;
  float: left;
  border-right: 1px solid #78809a;
}
.innere p span img{
  width: 22px;
  display: inherit;
  margin: auto;
  margin-top: 7.5px;
  margin-left: 24px;
}
.innere p .span_b img{
  margin-top: 11px;
}
.innere p a{
  display: inherit;
  font-size: 16px;
  letter-spacing: 2.5px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
/*exclusive_Photo.html_end*/
/*popup_a.html_start*/
.layer-wrap{
  position: fixed;
  left: 0;
  bottom: 33px;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
}
.layer{
  position: absolute;
  left: 0;
  top: 96px;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 75%;
  height: 75%;
  text-align: center;
  overflow: hidden;
}
.layer-btn{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 42px;
  /* height: 30%; */
}
.layer-btn a{
  display: block;
  width: 107px;
  line-height: 39px;
  height: 39px;
  margin-left: 0;
  border-radius: 3px;
  float: right;
  background: #fff;
  color: #000;
  letter-spacing: 1px;
  text-decoration: none;
}

.layer-btn #close{
  background: url(../custom/image/footer_bg.png) repeat-x;
  background-size: 100% 100%;
  color: #fff;
  line-height: 39px;
}
.layer-btn a:last-child{
  margin-left: 67px;
}
.layer_wrap{
  width: 100%;
}
.layer_header{
    position: relative;
    width: 247px;
    height: 307px;
    margin: auto;
    background-color: #fff8f2;
}
.layer_header img{
  width: 152px;
  margin: auto;
  margin-top: 25px;
}
.layer_text{
    position: absolute;
    width: 275px;
    height: 58px;
    top: 217px;
    margin: auto;
    background-color: #fff;
}
.layer_footer{
    position: absolute;
    width: 100%;
    margin: auto;
    top: 61%;
    height: 34px;
    background: url(../custom/image/layer_footer.png) repeat-x;
    background-size: 100% 100%;
}
.layer_text p{
  text-align: center;
  letter-spacing: 1px;
}
.layer_text .text_one{
  font-size: 15px;
  color: #000;
  padding-top: 7px;
  font-weight: bold;
}
.layer_text .text_two{
  font-size: 15px;
  color: #4e4c4d;
  margin-top: -4px;
}





/*popup_a.html_end*/
.heading_logo .head_text{
  width: 93%;
  height: 27px;
  margin-top: -8px;
  margin-left: 15px;
  color: #000;
}
.heading_logo span{
  float: left;
  margin-top: 35px;
  margin-left: 15px;
}
.heading_logo ul{
  margin-top: 36px;
  list-style: none;
  margin-left: 31px;
}
.heading_logo ul li{
  color: #000;
  font-size: 15px;
  margin-top: 5px;
}
.heading_logo ul .li_a{
  display: inline-block;
  margin-top: 1px;
}
@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
.scores-container {
 text-align: center;
}
.score-container, .best-container {
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: #000;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
/*

.score-container:after {
  content: "得分"; }
*/

.best-container:after {
  content: "最高分"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 500px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.game-container {
  margin-top: 40px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 15px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 107px;
  height: 107px;
  line-height: 116.25px; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 121px);
  -moz-transform: translate(0px, 121px);
  transform: translate(0px, 121px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 242px);
  -moz-transform: translate(0px, 242px);
  transform: translate(0px, 242px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 363px);
  -moz-transform: translate(0px, 363px);
  transform: translate(0px, 363px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(121px, 0px);
  -moz-transform: translate(121px, 0px);
  transform: translate(121px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(121px, 121px);
  -moz-transform: translate(121px, 121px);
  transform: translate(121px, 121px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(121px, 242px);
  -moz-transform: translate(121px, 242px);
  transform: translate(121px, 242px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(121px, 363px);
  -moz-transform: translate(121px, 363px);
  transform: translate(121px, 363px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(242px, 0px);
  -moz-transform: translate(242px, 0px);
  transform: translate(242px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(242px, 121px);
  -moz-transform: translate(242px, 121px);
  transform: translate(242px, 121px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(242px, 242px);
  -moz-transform: translate(242px, 242px);
  transform: translate(242px, 242px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(242px, 363px);
  -moz-transform: translate(242px, 363px);
  transform: translate(242px, 363px); }
.tile.tile-position-4-1 {
  -webkit-transform: translate(363px, 0px);
  -moz-transform: translate(363px, 0px);
  transform: translate(363px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(363px, 121px);
  -moz-transform: translate(363px, 121px);
  transform: translate(363px, 121px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(363px, 242px);
  -moz-transform: translate(363px, 242px);
  transform: translate(363px, 242px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(363px, 363px);
  -moz-transform: translate(363px, 363px);
  transform: translate(363px, 363px); }

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px; }
  .tile.tile-2 .tile-inner {
    background: #fcf2d3  ;
    box-shadow: inset 0 -1px 1px #c3c1b8;
  }
  .tile.tile-4 .tile-inner {
    background: #f5dce2;
    box-shadow: inset 0 -1px 3px #bfb1b5;
  }
  .tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #fdd7ce;
    box-shadow: inset 0 -1px 3px #bdb2b0;
  }
  .tile.tile-16 .tile-inner {
    color: #f9f6f2;
    background: #eaf3d2;
    box-shadow: inset 0 -1px 3px #c1c3ba;
  }
  .tile.tile-32 .tile-inner {
    color: #f9f6f2;
    background: #ffefc1;
    box-shadow: inset 0 -1px 3px #c7c5bd;
  }
  .tile.tile-64 .tile-inner {
    color: #f9f6f2;
    background: #f9eaf9;
    box-shadow: inset 0 -1px 3px #d2c8d2;
  }
  .tile.tile-128 .tile-inner {
    color: #f9f6f2;
    background: #d8ede5;
    box-shadow: inset 0 -1px 3px #c4d2cc;
    font-size: 45px;
  }
    @media screen and (max-width: 520px) {
      .tile.tile-128 .tile-inner {
        font-size: 25px; } }
  .tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #e3e9f6;
    box-shadow: inset 0 -1px 3px #c9ccd2;
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-256 .tile-inner {
        font-size: 25px; } }
  .tile.tile-512 .tile-inner {
    color: #f9f6f2;
    background: #e6f6f5;
    box-shadow: inset 0 -1px 3px #353535;
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .tile.tile-512 .tile-inner {
        font-size: 25px; } }
  .tile.tile-1024 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: inset 0 -1px 3px #353535;
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
  .tile.tile-2048 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: inset 0 -1px 3px #353535;
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #3c3a32;
    font-size: 30px; }
    @media screen and (max-width: 520px) {
      .tile.tile-super .tile-inner {
        font-size: 10px; } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; 
  width: 55%;
}

.restart-button {
  background: #000;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right; }

.rule {
  display: inline-block;
  text-decoration: none;
  float: right;
  margin: 8px;
}
.rule:hover{
  color: #BDAFA1;
}

.game-explanation {
  margin-top: 50px; }
@media screen and (max-width: 520px) {
  html, body {
    font-size: 15px; }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .score-container, .best-container {
    margin-top: 19px;
    line-height: 41px;
    font-size: 35px;
    padding: 11px 10px;
    min-width: 124px;
    font-weight: bold;}
  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }
  .restart-button {
    position: relative;
    width: 31%;
    padding: 0;
    display: block;
    letter-spacing: 2.5px;
    box-sizing: border-box;
    margin-top: 28%;
    margin-right: 17px;
    z-index: 1;
  }
  .game-container {
    position: relative;
    margin: auto;
    padding: 10px;
    margin-top: 13%;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #e8e8e8;
    border-radius: 6px;
    width: 94%;
    height: 356px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(193, 193, 193, 0.7);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 1200ms;
      -moz-animation: fade-in 800ms ease 1200ms;
      animation: fade-in 800ms ease 1200ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
          position: absolute;
          right: 13px;
          top: 58%;
          width: 25%;
          float: right;
          display: block;
          background: #000000;
          border-radius: 3px;
          padding: 0 20px;
          text-decoration: none;
          color: #f9f6f2;
          height: 40px;
          line-height: 42px;
          margin-left: 9px;
        }
        .game-container .game-message a.keep-playing-button {
            position: absolute;left: 5px;top: 58%;
            display: block;
            width: 25%;
            float: left;
        }
      .game-container .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2; }
        .game-container .game-message.game-won a.keep-playing-button {
          display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 10px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .grid-cell {
    width: 76px;
    height: 76px;
    margin-right: 10px;
    float: left;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: inset 0 -1px 3px #c1bfbf;
  }
    .grid-cell:last-child {
      margin-right: 0; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile, .tile .tile-inner {
    width: 76px;
    height: 76px;
    border-radius: 12px;
    line-height: 67.5px;}
  .tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  .tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 67px);
    -moz-transform: translate(0px, 67px);
    transform: translate(0px, 86px); }
  .tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 135px);
    -moz-transform: translate(0px, 135px);
    transform: translate(0px, 172px); }
  .tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 202px);
    -moz-transform: translate(0px, 202px);
    transform: translate(0px, 258px); }
  .tile.tile-position-2-1 {
    -webkit-transform: translate(67px, 0px);
    -moz-transform: translate(67px, 0px);
    transform: translate(86px, 0px); }
  .tile.tile-position-2-2 {
    -webkit-transform: translate(67px, 67px);
    -moz-transform: translate(67px, 67px);
    transform: translate(86px, 86px); }
  .tile.tile-position-2-3 {
    -webkit-transform: translate(67px, 135px);
    -moz-transform: translate(67px, 135px);
    transform: translate(86px, 172px);}
  .tile.tile-position-2-4 {
    -webkit-transform: translate(67px, 202px);
    -moz-transform: translate(67px, 202px);
    transform: translate(86px, 258px);
  }
  .tile.tile-position-3-1 {
    -webkit-transform: translate(135px, 0px);
    -moz-transform: translate(135px, 0px);
    transform: translate(172px, 0px); }
  .tile.tile-position-3-2 {
    -webkit-transform: translate(135px, 67px);
    -moz-transform: translate(135px, 67px);
    transform: translate(172px, 86px);}
  .tile.tile-position-3-3 {
    -webkit-transform: translate(135px, 135px);
    -moz-transform: translate(135px, 135px);
    transform: translate(172px, 172px);}
  .tile.tile-position-3-4 {
    -webkit-transform: translate(135px, 202px);
    -moz-transform: translate(135px, 202px);
    transform: translate(172px, 258px); }
  .tile.tile-position-4-1 {
    -webkit-transform: translate(202px, 0px);
    -moz-transform: translate(202px, 0px);
    transform: translate(258px, 0px); }
  .tile.tile-position-4-2 {
    -webkit-transform: translate(202px, 67px);
    -moz-transform: translate(202px, 67px);
    transform: translate(258px, 86px); }
  .tile.tile-position-4-3 {
    -webkit-transform: translate(202px, 135px);
    -moz-transform: translate(202px, 135px);
    transform: translate(257px, 172px);}
  .tile.tile-position-4-4 {
    -webkit-transform: translate(202px, 202px);
    -moz-transform: translate(202px, 202px);
    transform: translate(258px, 258px);}

  .tile .tile-inner {
    font-size: 35px; }

  .game-message p {
    color: #000;
      font-size: 24px !important;
      height: 30px !important;
      line-height: 41px !important;
      margin-top: 90px !important;
  }
  .game-message .lower {
    /*margin-top: 30px !important; */
  }
  .game-over p:last-child{
      line-height: 30px;
  }
  .lang-choose {
    width: 100%;
  }
}
.btn {
  background: #8f7a66;
  border-radius: 3px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
}

@media (max-width: 414px) {
  .heading {
    height: 106px;
  }
  .innere {
    margin-top: 83px;
  }
  .layer-btn {
    margin-top: 56px;
  }
  .grid-cell {
    width: 85px;
    height: 85px;
  }
  .heading_logo {
    top: 13%;
  }
  .restart-button {
    margin-top: 32.2%;
  }
  .heading_logo .head_text {
    margin-top: -2px;
  }
  .game-container {
    margin-top: 13.1%;
    height: 392px;
  }
  .tile, .tile .tile-inner {
    width: 85px;
    height: 85px;
  }
  .tile.tile-position-1-2 {
    transform: translate(0px, 95px);
  }
  .tile.tile-position-2-1 {
    transform: translate(95px, 0px);
  }
  .tile.tile-position-2-2 {
    transform: translate(95px, 95px);
  }
  .tile.tile-position-1-3 {
    transform: translate(0px, 190px);
  }
  .tile.tile-position-1-4 {
    transform: translate(0px, 285px);
  }
  .tile.tile-position-3-2 {
    transform: translate(190px, 95px);
  }
  .tile.tile-position-4-1 {
    transform: translate(285px, 0px);
  }
  .tile.tile-position-3-1 {
    transform: translate(190px, 0px);
  }
  .tile.tile-position-3-3 {
    transform: translate(190px, 190px);
  }
  .tile.tile-position-4-3 {
    transform: translate(285px, 190px);
  }
  .tile.tile-position-4-2 {
    transform: translate(285px, 95px);
  }
  .tile.tile-position-2-4 {
    transform: translate(95px, 285px);
  }
  .tile.tile-position-2-3 {
    transform: translate(95px, 190px);
  }
  .tile.tile-position-4-4 {
    transform: translate(285px, 285px);
  }
  .tile.tile-position-3-4 {
    transform: translate(190px, 285px);
  }
}
@media (max-width: 375px) {
  .innere {
    margin-top: 51px;
  }
  #content1 #inputimg {
    top: 68%;
  }
  #content1 .upimg {
    top: 68%;
  }
  .grid-cell {
    width: 76px;
    height: 76px;
  }
  .game-container {
    height: 358px;
  }
  .tile, .tile .tile-inner {
    width: 76px;
    height: 76px;
  }
  .tile.tile-position-1-3 {
    transform: translate(0px, 172px);
  }
  .tile.tile-position-1-2 {
    transform: translate(0px, 86px);
  }
  .tile.tile-position-2-1 {
    transform: translate(86px, 0px);
  }
  .tile.tile-position-2-2 {
    transform: translate(86px, 86px);
  }
  .tile.tile-position-1-4 {
    transform: translate(0px, 258px);
  }
  .tile.tile-position-3-2 {
    transform: translate(172px, 86px);
  }
  .tile.tile-position-4-1 {
    transform: translate(258px, 0px);
  }
  .tile.tile-position-3-1 {
    transform: translate(172px, 0px);
  }
  .tile.tile-position-3-3 {
    transform: translate(172px, 172px);
  }
  .tile.tile-position-4-3 {
    transform: translate(258px, 172px);
  }
  .tile.tile-position-4-2 {
    transform: translate(258px, 86px);
  }
  .tile.tile-position-2-4 {
    transform: translate(86px, 258px);
  }
  .tile.tile-position-2-3 {
    transform: translate(86px, 172px);
  }
  .tile.tile-position-4-4 {
    transform: translate(258px, 258px);
  }
  .tile.tile-position-3-4 {
    transform: translate(172px, 258px);
  }
  .heading_logo {
    top: 10%;
  }
  .restart-button {
    margin-top: 26.2%;
  }
  .heading_logo .head_text {
    margin-top: -8px;
  }
  .game-container {
    margin-top: 13.2%;
  }
  .Generated_avatar_text {
    margin-bottom: 8%;
  }
}
@media (max-width: 360px) {
  .grid-cell {
    width: 72px;
    height: 72px;
  }
  .tile.tile-position-2-1 {
    transform: translate(82px, 0px);
  }
  .tile, .tile .tile-inner {
    width: 72px;
    height: 72px;
  }
  .tile.tile-position-3-1 {
    transform: translate(164px, 0px);
  }
  .tile.tile-position-3-2 {
    transform: translate(164px, 82px);
  }
  .tile.tile-position-1-2 {
    transform: translate(0px, 82px);
  }
  .tile.tile-position-2-2 {
    transform: translate(82px, 82px);
  }
  .tile.tile-position-2-4 {
    transform: translate(82px, 246px);
  }
  .tile.tile-position-1-4 {
    transform: translate(0px, 246px);
  }
  .tile.tile-position-1-3 {
    transform: translate(0px, 164px);
  }
  .tile.tile-position-2-3 {
    transform: translate(82px, 164px);
  }
  .tile.tile-position-3-3 {
    transform: translate(164px, 164px);
  }
  .tile.tile-position-3-4 {
    transform: translate(164px, 246px);
  }
  .tile.tile-position-4-4 {
    transform: translate(246px, 246px);
  }
  .tile.tile-position-4-3 {
    transform: translate(246px, 164px);
  }
  .tile.tile-position-4-2 {
    transform: translate(246px, 82px);
  }
  .tile.tile-position-4-1 {
    transform: translate(246px, 0px);
  }
  .heading_logo {
    top: 10%;
  }
  .game-container {
    height: 341px;
  }
  .restart-button {
    margin-top: 28.2%;
  }
}
@media (max-width: 320px) {
  .Generated_avatar_footer .Generated_footer_one {
    margin-left: 14px;
  }
  .Generated_avatar_text {
    margin-top: 6%!important;
  }
  .head_portrait{
    margin-top: 2.4rem;
  }
  .Generated_avatar_text {
    margin-top: 7%;
    margin-bottom: 7%;
  }
  .exclusive_Photo {
    height: 279px;
  }
  .innere {
    margin-top: 46px;
  }
  .innere p {
    margin-bottom: 20px;
  }
  .heading_logo .head_text {
    margin-top: -8px;
  }
  .inner img {
    width: 149px;
    padding-top: 43px;
  }
  .layer_text {
    width: 100%;
  }
  .layer{
    top: 27px;
  }
  #content1 .innere {
    margin-top: 24px;
  }
  .innere p {
    width: 61%;
  }
  #content1 #inputimg {
    top: 69%;
    left: 20%;
    width: 61%;
    opacity: 0;
  }
  #upload {
    top: 69%;
  }
  #content1 .upimg {
    top: 69%;
  }
  .head_portrait {
    margin-top: 2.1rem!important;
  }
  #content2 .Generated_avatar_text {
    margin-bottom: 2%;
  }
  #content2 .Generated_avatar_footer {
    margin-bottom: 9%;
  }
  .heading_logo {
    top: 11%;
  }
  .grid-cell {
    width: 55px;
    height: 55px;
  }
  .game-container {
    width: 90%;
    margin-left: 15.8px;
    height: 272px;
    margin-top: 15%;
  }
  .grid-cell {
    margin-right: 16px;
  }
  .restart-button {
    margin-right: 17px;
    width: 26%;
    margin-top: 30%;
  }
  .tile, .tile .tile-inner {
    width: 55px;
    height: 55px;
  }
  .tile.tile-2 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-4 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-8 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-16 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-32 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-64 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-128 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-256 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-512 .tile-inner {
    background-size: 42px 42px!important;
  }
  .tile.tile-1024 .tile-inner {
    background-size: 63px 63px;
  }
  .tile.tile-2048 .tile-inner {
    background-size: 63px 63px;
  }
  .tile.tile-4096 .tile-inner {
    background-size: 63px 63px;
  }
  .tile.tile-position-4-2 {
    transform: translate(213px, 65px);
  }
  .tile.tile-position-4-3 {
    transform: translate(213px, 130px);
  }
  .tile.tile-position-4-4 {
    transform: translate(213px, 195px);
  }
  .tile.tile-position-3-4 {
    transform: translate(142px, 195px);
  }
  .tile.tile-position-2-4 {
    transform: translate(71px, 195px);
  }
  .tile.tile-position-1-3 {
    transform: translate(0px, 130px);
  }
  .tile.tile-position-1-4 {
    transform: translate(0px, 195px);
  }
  .tile.tile-position-2-1 {
    transform: translate(71px, 0px);
  }
  .tile.tile-position-3-3 {
    transform: translate(142px, 130px);
  }
  .tile.tile-position-1-2 {
    transform: translate(0px, 65px);
  }
  .tile.tile-position-2-3 {
    transform: translate(71px, 130px);
  }
  .tile.tile-position-2-2 {
    transform: translate(71px, 65px);
  }
  .tile.tile-position-4-1 {
    transform: translate(213px, 0px);
  }
  .tile.tile-position-3-2 {
    transform: translate(142px, 65px);
  }
  .tile.tile-position-3-1 {
    transform: translate(142px, 0px);
  }
  .layer_footer {
    top: 72%;
  }
  .layer_header {
    height: 301px;
  }
  .layer_text .text_one {
    padding-top: 7px;
  }
  .layer_text .text_two {
    padding-top: 0.5px;
  }
  .layer-btn {
    margin-top: 37px;
  }
  .layer-btn {
    margin-top: 36px!important;
    position: relative;
    z-index: 9999999999999999;
  }
  #content1 #demoCanvas{
    margin-top: 39px!important;
  }
}

@media (max-height: 812px) {
  .head_portrait {
    margin-top: 2.5rem;
  }
  .Generated_avatar_text {
    margin-top: 17%;
    margin-bottom: 4%;
  }
}
